<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Antic</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varta%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="./css/antic-maquette-desktop-home.css"/>
</head>
<body>
  <div class="container">
    <div class="antic-maquette-desktop-home-Q26">
      <div class="hero-uUe">
        <div class="hero-text-qt6">
          <div class="text-group-L4A">
            <p class="label-GyQ">HOME DESIGN</p>
            <div class="title-with-paragraph-Aot">
              <p class="title-tUz">
              Elegance for
              <br/>
              Interiors &amp; Exteriors
              </p>
              <p class="paragraph-9A2">
              We provide everyone with modern, 
              <br/>
              trendy, quality furniture
              </p>
            </div>
          </div>
          <img class="scroll-down-zwL" src="./assets/scroll-down.png"/>
        </div>
        <img class="hero-background-Gdx" src="./assets/hero-background.png"/>
        <div class="header-NBC">
          <div class="logo-menu-fg6">
            <p class="logotype-Yjt">antic</p>
            <div class="menu-dFY">
              <p class="first-link-AmG">Products</p>
              <p class="second-link-txA">Rooms</p>
              <p class="third-link-qcW">Services</p>
              <p class="third-link-BgN">Inspirations</p>
            </div>
          </div>
          <img class="contact-7a2" src="./assets/contact.png"/>
        </div>
      </div>
      <div class="find-your-room-T86">
        <p class="title-8k2">Find your room</p>
        <div class="select-a-room-Czn">
          <p class="paragraph-jjp">Dining room, bedroom, bathroom or office. Find what you need</p>
          <div class="slider-eLz">
            <div class="group-1BY">
              <img class="background-LzW" src="./assets/background-rPC.png"/>
              <p class="label-rxr">New arrivals</p>
              <div class="item-title-XZC">Bedroom</div>
            </div>
            <div class="group-vbL">
              <img class="background-GQJ" src="./assets/background-MCW.png"/>
              <p class="label-CHx">New arrivals</p>
              <div class="item-title-W3k">
              Living 
              <br/>
              room
              </div>
            </div>
          </div>
        </div>
        <div class="slider-nav-dots-Atz">
          <p class="dots-VwG">01 / 05</p>
          <div class="nav-1Pp">
            <p class="next-X7G">Next</p>
            <img class="right-cuQ" src="./assets/right.png"/>
          </div>
        </div>
      </div>
      <div class="side-to-design-LKc">
        <div class="title-link-rYr">
          <p class="we-helps-creators-do-ydU">We stay by your side to design your projects</p>
          <div class="action-link-HeA">
            <p class="action-link-Qyg">Find out more</p>
            <img class="icon-J3U" src="./assets/icon-Hir.png"/>
          </div>
        </div>
        <div class="services-Pai">
          <div class="line-01-vqY">
            <div class="our-advices-3vA">
              <p class="possibility-oeS">Our Advices</p>
              <p class="wireframes-are-creat-uxN">What if you took advantage of this rather special period to rethink your interior? You spend more time at home so you might as well feel good there.</p>
            </div>
            <div class="click-and-collect-qLE">
              <p class="community-But">Click and Collect</p>
              <p class="a-website-wireframe-uL6">Adapted and contactless. Free from € 200 of purchases in stores offering the service.</p>
            </div>
          </div>
          <div class="line-02-mNJ">
            <div class="conception-service-586">
              <p class="reliability-CiW">Conception Service</p>
              <p class="when-applied-to-buil-iB4">Personalized service with an expert advisor for your interior and exterior decoration or layout projects. </p>
            </div>
            <div class="installation-QZg">
              <p class="games-ktS">Installation Service</p>
              <p class="it-ensures-that-they-rRg">Our furniture packaged in flat packs are designed for easy assembly. But you can call on our partner.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="be-aware-of-the-latest-trends-88J">
        <div class="trends-newsletter-pWv">
          <div class="title-link-KyU">
            <div class="frame-7-fnS">
              <p class="start-your-free-tria-RFp">Be aware of the latest trends</p>
              <p class="early-stage-company-vyG">Stay informed of new trends, but also of our various offers.</p>
            </div>
            <div class="action-link-qqL">
              <p class="action-link-aH8">Learn more</p>
              <img class="icon-5Dt" src="./assets/icon.png"/>
            </div>
          </div>
          <div class="form-B22">
            <div class="input-iGr">email@address.com</div>
            <a href="#" class="button-vXL">Subscribe</a>
          </div>
        </div>
        <div class="slider-zXC">
          <div class="slides-xD8">
            <img class="slide-03-background-sqt" src="./assets/slide-03-background.png"/>
            <img class="slide-02-background-R6i" src="./assets/slide-02-background.png"/>
            <img class="slide-01-background-kPt" src="./assets/slide-01-background.png"/>
          </div>
          <div class="inspirations-Gt2">
            <div class="title-paragraph-jWi">
              <p class="youre-in-good-compa-UUJ">Inspirations</p>
              <p class="the-visual-guide-wil-mCW">Our experts are keen to stay on top of trends in order to offer you new inspirations for your interior and exterior every day. Remember that to inspire you we have to inspire ourselves and we want to share that with you.</p>
            </div>
            <div class="slider-nav-dots-gaN">
              <div class="frame-52-ELz">
                <img class="button-BX8" src="./assets/button-wkv.png"/>
                <img class="button-Jbk" src="./assets/button.png"/>
              </div>
              <p class="item-01-05-ST4">01 / 05</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-u5k">
        <div class="content-pCi">
          <div class="auto-group-a25g-ks4">
            <p class="logotype-tiN">antic</p>
            <div class="link-group-Qgi">
              <div class="products-Mbx">
                <p class="first-column-hQv">Products</p>
                <div class="links-pVY">
                  <p class="first-link--mQn">Furniture</p>
                  <p class="second-link--gGr">Decoration</p>
                  <p class="third-link--z2e">Storage</p>
                  <p class="fourth-link-XHU">Baby and child</p>
                  <p class="fourth-link-UCi">Connected home</p>
                </div>
              </div>
              <div class="rooms-CPc">
                <p class="second-column-9Zk">Rooms</p>
                <div class="links-GuG">
                  <p class="first-link--ciE">Living room</p>
                  <p class="second-link--mLE">Dining room</p>
                  <p class="third-link--K6r">Cooked</p>
                  <p class="fourth-link-Tir">Bedroom</p>
                  <p class="fifth-link-xfc">Bathroom</p>
                  <p class="sixth-link-4yY">Office</p>
                  <p class="seventh-link-zcJ">Laundry</p>
                  <p class="eighth-link-8iW">Garage</p>
                </div>
              </div>
              <div class="auto-group-buva-reW">
                <div class="services-oJr">
                  <p class="third-column-Lpa">Services</p>
                  <div class="links-frr">
                    <p class="first-link--1fp">Click and collect</p>
                    <p class="second-link--Yve">Conception</p>
                    <p class="third-link--TGv">Installation</p>
                    <p class="fourth-link-BTp">Advices</p>
                    <p class="fourth-link-Wkz">Gift card</p>
                  </div>
                </div>
                <div class="about-Ewt">
                  <p class="fourth-column-oEJ">About</p>
                  <div class="links-Xg6">
                    <p class="first-link-copy-14-gYz">Our story</p>
                    <p class="second-link-copy-15-cBk">Our stores</p>
                    <p class="third-link-copy-11-MQE">Our partners</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-fvi">
            <p class="fifth-column-QdQ">We respect our planet</p>
            <div class="post-uq4">
              <img class="footer-column-background-f3Y" src="./assets/footer-column-background.png"/>
              <p class="structuring-is-reduc-PkE">We’re taking positive steps to reduce our impact on the planet. For us, that means retailing responsibly.</p>
              <div class="action-link-vVG">
                <p class="action-link-G3L">Learn more</p>
                <img class="icon-Ns4" src="./assets/icon-Bf8.png"/>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-uMC">
          <div class="social-networks-4jt">
            <img class="facebook-NVg" src="./assets/facebook-EdG.png"/>
            <img class="twitter-Uoc" src="./assets/twitter.png"/>
            <img class="linkedin-pMg" src="./assets/linkedin.png"/>
            <img class="instagram-Zq4" src="./assets/instagram.png"/>
          </div>
          <div class="legals-7bg">
            <p class="forpeople-stu-UBL">© 2021 Agence Dnd</p>
            <div class="links-aEN">
              <p class="privacy-policy-vp2">Privacy policy</p>
              <p class="term-of-service-U4r">Term of service</p>
              <p class="language-o78">Language</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>